$ww-brand-blue: #274b70;
$ww-text-color: #2C3E50;

$ww-sun-color: #fffac6;

$ww-transparent-white: rgba(255,255,255,0.6);

$ww-sun-gradient: linear-gradient(to bottom, white 0%,$ww-sun-color 3%,$ww-sun-color 97%,$ww-brand-blue 100%);
