.logo-font {
	font-family: $logo-font;
}

#templates {
	display: none;
}

body {
	padding-top: 30px;
}

section {
	min-height: calc(100vh - 30px);
	padding-bottom: 30px;
	position:relative;
}

footer {
	padding-bottom: 30px;
}

.transparent-white-overlay {
	@include breakpoint(xs) {
		background: $ww-transparent-white;
		height: 100%;
		padding-top: 60px;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.less-transparent-white-overlay {
	@include breakpoint(xs) {
		background: $ww-less-transparent-white;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

	.material-icons {
		color: $ww-brand-blue;
	}

	.pricing {
		dd {
			color: $brand-success;
			font-size: 24px;
		}
	}

	.section-inverted {
		background: $ww-text-color;
		color: white;

		.material-icons {
			color: white;
		}
	}

	.padding-bottom-15 {
		padding-bottom: 15px;
	}

	.list-icons {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 5px 0;

			.material-icons {
				font-size: 1em;
				height: 10px;
				padding-right: 5px;
			}
		}
	}

	footer {
		padding-top: 50px;
	}
	// wordpress wysiwyg styles
	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.alignleft {
		float: left;
		margin: 0.5em 1em 0.5em 0;
	}

	.alignright {
		float: right;
		margin: 0.5em 0 0.5em 1em;
	}
